APP_URL=https://expense.kalourmade.com/
APP_DOMAIN=expense.kalourmade.com
APP_NAME=simple-expense
APP_PORT=8000
APP_ENV=local
APP_DEBUG=true
COMPOSE_PROJECT_NAME=simple-expense
TRAEFIK_HOST=traefik.expense.kalourmade.com
ADMINER_DOMAIN=adminer.expense.kalourmade.com
ENV_SPECIFIC_CERT_NAME=local/cert.pem
ENV_SPECIFIC_KEY_NAME=local/key.pem

REPLICAS=1
# Mail Configuration (add your values)
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

# Typesense Configuration
TYPESENSE_API_KEY=xyz123

# Database Configuration
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# Redis Configuration
REDIS_PASSWORD=

