APP_URL=https://expense.kalourmade.com/
APP_DOMAIN=expense.kalourmade.com
APP_NAME=simple-expense
APP_PORT=8000
APP_ENV=local
APP_DEBUG=true
COMPOSE_PROJECT_NAME=simple-expense
TRAEFIK_HOST=traefik.expense.kalourmade.com
ADMINER_DOMAIN=adminer.expense.kalourmade.com
ENV_SPECIFIC_CERT_NAME=local/cert.pem
ENV_SPECIFIC_KEY_NAME=local/key.pem

REPLICAS=1
# Mail Configuration (add your values)
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

# Typesense Configuration (optional)
TYPESENSE_API_KEY=AnotherTypysenseUniquePassword26


# Database Configuration
DB_DATABASE=simpleexpense
DB_USERNAME=postgres
DB_PASSWORD=myverySensitivePGPassport

# redis Configuration
REDIS_PASSWORD=myUniqueRedisPassword2026

# Must be set to the SAME value on every server for /server-migration to work.
MIGRATION_SECRET=singole_OlaKalourmade@SpecialMigration

HOST_DOMAIN=kalourmade.com
