.git
.github
.ddev

node_modules
vendor

storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*

frankenphp_server/caddy_data
frankenphp_server/caddy_config

dist
dist.zip
*.pdf

.env
